<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<div>
  <app-admin-nav-bar></app-admin-nav-bar>
</div>
<body>
  <div class="left-side">
    <!-- Your form content goes here -->
    <form align="center" id="addItemForm" #itemForm="ngForm">
      <h3>User Details</h3>
      <div class="form-group">
        <div class="input-with-button">
          <input type="email" id="email" name="email" placeholder="Enter email" [(ngModel)]="email">
          <button type="button" class="search-button" (click)="searchUser()">Search</button>
        </div>
      </div>
      <div class="form-group">
        <input type="text" id="username" name="username" placeholder="Enter displayname" required [(ngModel)]="displayName">
      </div>
      <div class="form-group">
        <input type="text" id="rating" name="rating" placeholder="Enter your rating" [(ngModel)]="rating">
      </div>
      <br>
      <div class="form-group">
        <div class="button-row"> 
          <button type="button" (click)="updateUser()">Update</button>
          <button type="button" (click)="deleteUser()">Delete</button>
        </div>
      </div>
    </form>
  </div>
  <br>

  <div class="right-side">
    <!-- Your table content goes here -->
    <h2 align="center">All User Details</h2>
    <!-- Sort buttons and table -->
    <table class="rtable">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Ranking</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users$ | async">
          <td>{{ item.email }}</td>
          <td>{{ item.displayName }}</td>
          <td>{{ item.rating }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
