<div>
    <app-navigation-bar></app-navigation-bar>
  </div>
  <br>
  <div>
    <h2 align="center">Your Bidding Records</h2>
    <br>
    <table class="rtable">
        <thead>
        <tr>
            <th>ItemID</th>
            <th>Rank of Item</th>
            <th>Price</th>
            <th>Starting Price</th>
        </tr>
        </thead>
        <tbody>
            <!-- Use the async pipe to subscribe to the items$ observable -->
            <tr *ngFor="let item of bids$ | async">
            <td>{{ item.itemId }}</td>
            <td>{{ item.rating }}</td>
            <td>{{ item.highestbid }}</td>
            <td>{{ item.startingPrice }}</td>
            </tr>
        </tbody>
    </table>
  </div>
  
  