<div>
  <!-- Your navigation bar component -->
  <app-admin-nav-bar></app-admin-nav-bar>
</div>
<br>
<h2 align="center">Completed Bidding Items</h2>
<br>
<!-- Sort buttons -->
<table class="rtable">
  <thead>
    <tr>
      <th (click)="sortByItemIDAscending() ">ItemID &#9660;</th>
      <th (click)="sortByRankOfItem()">Rank of Item &#9660;</th>
      <th (click)="sortByWinnerAscending()">Winner &#9660;</th>
      <th (click)="sortByRankOfWinner()">Rank of Winner &#9660;</th>
      <th (click)="sortByHighestBid()">Price &#9660;</th>
      <th (click)="sortByStartingPriceAscending()">Starting Price &#9660;</th>
    </tr>
  </thead>
  <tbody>
    <!-- Use the async pipe to subscribe to the items$ observable -->
    <tr *ngFor="let item of items$ | async">
      <td>{{ item.itemId }}</td>
      <td>{{ item.rating }}</td>
      <td>{{ item.highestbidder }}</td>
      <td>{{ item.rankofhighestbidder }}</td>
      <td>{{ item.highestbid }}</td>
      <td>{{ item.startingPrice }}</td>
    </tr>
  </tbody>
</table>

